## Visual Studio Code files:
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

## Jekyll files
_site
.sass-cache
.jekyll-metadata
Gemfile.lock